 #content .list,#content2 .list{
      background: #000 url('../img/bgPanel5.gif');
      width:100%;
      padding:1% 1%;
      margin: 5% 0;
      display: flex;
      justify-content:space-around;
      align-items: center;
      flex-wrap:wrap;
          box-shadow: 2px 4px 15px rgba(0,0,0,0.7);
 }
 .list hr{
    display: block;
    width: 86%;
    background-color: traspered;
    height: 2px;
    box-shadow: 1px 1px 3px #000;
     border: none;

 }
.list    span{
    color:#FFF;
    font-size: 250%;
    text-align: center;
    text-shadow:

    0 -1px 0 #82DFF1,
               0 6px 1px rgba(0,0,0,.5),
               0 0 5px rgba(0,0,0,.5),
               0 1px 3px rgba(0,0,0,.8),
               0 3px 5px rgba(0,0,0,0.1),
               0 2px 5px rgba(0,0,0,0.5),
               0 10px 10px rgba(0,0,0,.5),
               0 30px 30px rgba(0,0,0,.2);
}
 .bt{
    display:block;
    float: right;
    position: relative;
    padding: 12px;

    text-align:center;
    color: #fff;
    font-size: 120%;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
    overflow: hidden;
    text-shadow:0 6px 1px rgba(0,0,0,.1),
               0 0 1px rgba(0,0,0,.1),
               0 0px 1px rgba(0,0,0,.3),
               0 1px 2px rgba(0,0,0,.2),
               0 2px 5px rgba(0,0,0,.25),
               0 5px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.15);
 }
.a,.b,.c,.d{
    position: absolute;

    background-color: #fff;
    z-index: 99;
}
.a:before,.b:before,.c:before,.d:before{
    background-color: #FFDD00;
    transition: all 0.7s ease;
    position: absolute;
    z-index: 100;
    content:'';
}
.a,.a:before,.b:before, .b{
    top: 0px;
    left: 0px;
}
.c,.c:before,.d:before,.d{
    bottom:0px;
    right:0px;
}

.c,.a{
    height: 150%;
    width:4px;
}
.c:before,.a:before{
    height: 0px;
    width:4px;
}
.d,.b{
    height: 4px;
    width:150%;
}
.d:before,.b:before{
    height: 4px;
    width:0;
}
.bt:hover{
    color:#FFDD00;
}
.bt:hover .a:before,.bt:hover .c:before{
    height:154%;
}
.bt:hover .b:before,.bt:hover .d:before{
    width:120%;
}

.imPdf{
    width: 10%;

}
#content2{
    width: 60%;
    margin: 15% 27%;
    background:#EDEEF0 url('../../img/bg.png');
    padding: 3%;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.6);


}

.down{
      display: flex;
      justify-content:left;
      align-items: center;
      flex-wrap:wrap;
      font-size: 150%;
      margin: 2%;


}
.down a {
    text-decoration: none;
    color: #000;
}