html,body,#wrap,header{
    padding: 0;
    margin:0px;

}
body{
    background:#EDEEF0 url('../img/bg.jpg');
}
#wrap{
    width:100%;

}
header{
    width:100%;
    height:12vh;
    background:#EDEEF0 url('../img/bg.png');
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    overflow: hidden;

}
ul,#register{
    header: 100%;
    margin:0;
    float: right;
}
header ul {
    max-width: 30%;
    padding: 0;
    height: 100%;
    transition: all 3s ease;
}
header ul li{
     max-width: 30%;
     margin: 0 1%;
     height: 100%;
     float: left;
     list-style-type: none;
     overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li:hover{
    cursor: pointer;
}
header ul li.active:before{

    width: 10%;
    height:100%;
    position: absolute;
    z-index: 3;
    left: -13%;
    top:0;
     content: "";
     box-shadow: 0 0 15px #000;
     transform: rotate(-4deg);
}
header ul li.active:after{

    width: 10%;
    height:100%;
    position: absolute;
    z-index: 3;
    right: -13%;
    top:0;
     content: "";
     box-shadow: 0 0 15px #000;
     transform: rotate(4deg);
}

header ul li:hover{
    cursor: pointer;
    box-shadow: 0px -1px 3px rgba(0,0,0,0.5) inset;
}

header ul li img{
    header: 100%;
    max-width: 100%;
}
#register{
    display: block;
    float: right;
    height: 100%;
    max-width: 15%;
    float: right;
    padding: 0%;
    text-decoration: none;
}
#register img{
    height: 100%;
}
header ul li.testsL{
    opacity: 0.5;
    cursor: default;
    height: 100%;
    box-shadow:none;

}



#logout{

    padding:0 1% ;
    float: right;
    height: 100%;
    font-size: 120%;
    max-width: 12%;
    color:#FFDD00;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    text-shadow:0 6px 1px rgba(0,0,0,.1),
               0 0 1px rgba(0,0,0,.1),
               0 0px 1px rgba(0,0,0,.3),
               0 1px 2px rgba(0,0,0,.2),
               0 2px 5px rgba(0,0,0,.25),
               0 5px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.15);

}


#imSub:hover{
    cursor: pointer;
}
#imSub{
    float: right;
    display: block;
    max-height: 100%;
    max-width: 20%;

}

#glav,#back{
    float: left;

}
#glav{
    margin:0 1%;
    height:100%;

}
#glav img{
        height:100%;
}
#back{
    dispaly: block;
    text-decoration: none;
    width: 15%;
    margin: 0;
    padding: 0;
    height:100%;
    color: #000;
    font-size: 150%;
    opacity: 0.25;
    transition: all 0.5s ease;
}
#back img{
    height:100%;
}
#back:hover{
    opacity: 01;
}

footer{
    width: 50%;
    margin: 2% auto;
    padding: 1%;
    text-align: center;
    transition: all 1s ease;
    position: relative;
    color: #000;
    overflow: hidden;
    opacity: 0.6;
}
footer a{
    color: inherit;
    text-shadow: inherit;

}
 footer:hover{
    color:#FFDD00;
    text-shadow:0 6px 1px rgba(0,0,0,.1),
               0 0 1px rgba(0,0,0,.1),
               0 0px 1px rgba(0,0,0,.3),
               0 1px 2px rgba(0,0,0,.2),
               0 2px 5px rgba(0,0,0,.25),
               0 5px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.15);
    opacity: 1;
}
.a,.b,.c,.d{
    position: absolute;
    background-color: #fff;
    z-index: 99;
}
.a:before,.b:before,.c:before,.d:before{
    background-color: #FFDD00;
    transition: all 2s ease;
    position: absolute;
    z-index: 100;
    content:'';
}
.a,.a:before,.b:before, .b{
    top: 0px;
    left: 0px;
}
.c,.c:before,.d:before,.d{
    bottom:0px;
    right:0px;
}

.c,.a{
    height: 150%;
    width:4px;
}
.c:before,.a:before{
    height: 0px;
    width:4px;
}
.d,.b{
    height: 4px;
    width:150%;
}
.d:before,.b:before{
    height: 4px;
    width:0;
}

footer:hover .a:before,footer:hover .c:before{
    height:154%;
}
footer:hover .b:before,footer:hover .d:before{
    width:120%;
}
