#wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top:4%;
}
#wrap section{
    width: 85%;
    padding: 1%;
    margin:0;
    position: relative;

    background-color:#F8F7FF;


}
#wrap section span{
    font-size: 120%;
}
#wrap section:before{

    width: 95%;
    height:15%;
    z-index: -3;
    position: absolute;
    right: 2%;
    bottom:10%;
    content: "";
    box-shadow: 0 0 40px 5px #000;
    transform: rotate(2deg);
     background: rgba(0, 0, 0, 0);

}
#wrap section:after{

    width: 95%;
    height:15%;
    z-index: -3;
    position: absolute;
    left: 2%;
    bottom:10%;
    content: "";
    box-shadow: 0 0 40px 5px #000;
    transform: rotate(-2deg);
     background: rgba(0, 0, 0, 0);

}
#wrap nav{
    width:50%;
    font-size: 200%;
    float: left;
    margin-right:1%;
       color: #fff;

}
#wrap nav ul{
    list-style-type: none;
    float: left;
    padding: 0;
    margin:0;

    width: 100%;
}

#wrap nav li{

    margin:0;
    display: block;
    position:relative;
    width: 98%;
    padding:1.5% 1%;
    margin: 2% 0;
    background-color: #00B4F0;
    box-shadow: 2px 2px 5px  rgba(0,0,0,0.5);



}

nav a {
 text-decoration: none;
 color: #FFF;
 font-weight: bold;
 text-shadow: 0px -1px 0 #ccc,
               0px -1.5px 0 #c9c9c9,


               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 2px rgba(0,0,0,.3),
               0 1px 3px rgba(0,0,0,.2),
               0 3px 8px rgba(0,0,0,.25),
               0 8px 8px rgba(0,0,0,.2),
               0 15px 15px rgba(0,0,0,.15);
}