
@media screen and (orientation: landscape) {

   @media  (min-aspect-ratio: 1/1) { /*1*/

        header{
            height:7vh;
        }

        #wrap #nav{
            width: 65%;
        }
        .cent{
            font-size: 150%;
        }
    }
   @media  (min-aspect-ratio: 11/10) { /*1.1*/
        header{
            height:8vh;
        }

        #wrap #nav{
            width: 55%;
        }

        .cent{
            font-size: 150%;
        }

   }

   @media  (min-aspect-ratio: 15/10) { /*1.5*/
        body{
            font-size: 150%;
        }
        header{
            height:10vh;
        }
        #wrap #nav{
            width: 50%;
        }

        #content{
            margin-left: 30%;
            width: 60%;
        }
        #wrap section#start{
            font-size: 100%;
            width: 90%;
        }

        #wrap nav{
            font-size: 100%;
        }
        #wrap section:before,#wrap section:after{
            bottom: 35px;
        }
        body{
            font-size: 90%;
        }
        .bt{
            font-size: 150%;
        }

   }
   @media  (min-aspect-ratio: 162/100) { /*1.62*/
        body{
            font-size: 90%;
        }
        #wrap nav{
            font-size: 100%;
       }
        .bt{
            font-size: 150%;
       }



   }

   @media  (min-aspect-ratio: 18/10) { /*1.8*/
        body{
            font-size: 120%;
        }
        header{
            height:11vh;
        }
        #wrap nav{
            font-size: 80%;
       }
       .bt{
            font-size: 110%;
       }




   }
   @media  (min-aspect-ratio: 2/1) {

        body{
            font-size: 170%;
        }
        header ul li.active:after,header ul li.active:before{
            box-shadow: 0 0 25px #000;
        }
        .bt{
            font-size: 70%;
        }

   }
   @media  (min-aspect-ratio: 265/100) { /*1.62*/
       #wrap section:before,#wrap section:after{
            bottom: 45px;
        }
       #wrap #nav{
            width: 50%;
       }
       body{
            font-size: 190%;
       }
       header{
            height:15vh;
        }
       #wrap nav{
            font-size: 40%;
       }
       .bt{
            font-size: 70%;
       }



   }
   @media (min-device-width: 2000px){
    body{
        font-size: 200%;
    }
   }
    @media (max-device-width: 2000px){
        body{
            font-size: 100%;
        }
    }



}



@media screen and (orientation: portrait) {
    body{
        font-size: 200%;
    }
    nav {
        position: static;
        width:70%;
        margin: 30% 0;
    }
    nav a {
        width: 100%;
    }
    #wrap #nav {
        width:100%;
    }
    section#content,section#content2{
        width: 80%;
        margin: 1% auto;
    }
    #toTop{
        left:0;
        bottom:0;
        widt:5%;
    }
    .bt{
        width:90%;
        margin: 2%;
        float: none;
    }
    header{
        font-size: 70%;
        height: 5vh;
    }

    #content2 ul{
        font-size: 140%;
        display: block;
        width: 90%;
    }
    #coun{
        font-size: 150%;
        width: 100%;
    }
    #coun select{
        font-size: 70%;
        width: 20%;
    }
    #content2 > ul > li > ul >  li{
        padding: 2% 0 ;
    }

    @media  (min-aspect-ratio: 1/2) { /*0.5*/
         .hex{
                width: 15.8vh;
                height: 9vh;
                margin:  5.5vh 1vh 0 0;
         }
           .back > img{
                 top:-4.7vh;
                 left:0;
         }
    }





}
