{% extends "apka\booklet.html" %}
{% load static %}
{%block link2%}
    <link rel="stylesheet" href="{% static 'css/tests/show.css' %}">
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
{%endblock%}
{% block back%} <a href="/show{{num}}" id="back"><img src="{%static 'img/back.gif'%}"></a>{%endblock%}
{%block book%}
<section id="content2">
    <h2>{{b.title}}</h2>
    <div id ='coun'>
        Число вопросов:
        <select>
            {%for r in ran%}
                <option>{{r}}</option>
            {%endfor%}
            <option selected>200</option>

        </select>
    </div>
    <hr/>
<ul style="list-style-type:decimal;">
   {%for q in tests%}
    <li  data-id="{{q.id}}">
        {% if user.is_authenticated%}
             <img class="star" src="{%static 'img/star.gif'%}" data-index="{{q.id}}" alt="Сохранить вопрос" title="Сохранить вопрос"/>
        {%endif%}
        {% autoescape off %}
            <span>{{q.title}}</span>
        {% endautoescape %}
        <ul style="list-style-type:upper-alpha;">
            {%for i in q.m %}
                <li>
                    {% autoescape off  %}
                        <span>{{i}}</span>
                    {% endautoescape %}
                </li>
            {%endfor%}
        </ul>
        <div class="line"></div>
        <br/>
    </li>
    {%endfor%}

</ul>
    <div class="bt">Завершить
                    <div class="a"></div>
                <div class="b"></div>
                <div class="c"></div>
                <div class="d"></div></div>
    <div class="line"></div>
</section>

        <div id="preloader">
            <div class="cssload-tetrominos">
                    <div class="cssload-tetromino cssload-box1"></div>
                    <div class="cssload-tetromino cssload-box2"></div>
                    <div class="cssload-tetromino cssload-box3"></div>
                    <div class="cssload-tetromino cssload-box4"></div>
            </div>
        </div>
{%endblock%}


        {%block script2%}
             <script src="{% static 'js/tests/show.js' %}"></script>
        {%endblock%}