{% extends "apka/booklet.html" %}
{% load static %}
{%block link2%}
    <link rel="stylesheet" href="{% static 'css/tests/show.css' %}">
{%endblock%}

{% block back%} <a href="/show{{num}}" id="back"><img src="{%static 'img/back.gif'%}"></a>{%endblock%}

{%block book%}
<section id="content2">
    <h2>{{b.title}}</h2>
    <div id ='coun'>
        Число вопросов:
        <select>
            {%for r in ran%}
                <option>{{r}}</option>
            {%endfor%}
            <option selected>200</option>

        </select>
    </div>
    <hr/>
<ul style="list-style-type:decimal;">
   {%for q in tests%}
    <li>
        {% if user.is_authenticated%}
             <img class="star" src="{%static 'img/star.gif'%}" data-index="{{q.id}}" alt="Сохранить вопрос" title="Сохранить вопрос"/>
        {%endif%}
        {% autoescape off %}
            <span>{{q.title}}</span>
        {% endautoescape %}
        <ul style="list-style-type:upper-alpha;">
            {%for i in q.m %}
                <li class="{{i.c}}">
                    {% autoescape off  %}
                        <span>{{i.r}}</span>
                    {% endautoescape %}
                </li>
            {%endfor%}
        </ul>
        <div class="line"></div>
        <br/>
    </li>
    {%endfor%}

</ul>

    <div class="line"></div>
</section>


{%endblock%}


        {%block script2%}
             <script src="{% static 'js/tests/training.js' %}"></script>
        {%endblock%}