<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load socialaccount %}
<html>
<head>
	<title>{%block title%} {%endblock%}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Author" content="Платонов Андрей" />
    <meta name="description" content="Тестирование КРОК; Тренировка; Просмотр базы; Работа над ошибками; Сохранение вопросов; Адаптивный дизайн; Регистрация через соцсети" />
    <meta name="Keywords" lang="ru" content="Тестирование КРОК; Тренировка; Просмотр базы; Работа над ошибками; Сохранение вопросов; Адаптивный дизайн; Регистрация через соцсети">
    <meta name="Keywords" lang="uk" content="Тестування КРОК; Тренування; Перегляд бази; Робота над помилками; Збереження питань; Адаптивний дизайн; Реєстрація через соцмережі">
    <meta name="Keywords" lang="en" content="Testing the CRIC; Training; View the database; Work on bugs; Preservation of issues; Adaptive design; Registration through social networks">
    <link href="{% static 'css/header.css' %}" rel='stylesheet' type='text/css'>
        {% block link %} {% endblock %}
    <link href="{% static 'css/media.css' %}" rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>

</head>

<body>

<header >
    <a href="/" id="glav">КРОК</a>
   {%block back%} {%endblock%}

    {% if user.is_authenticated%}
         <img src="{%static 'img/logout.gif'%}" id="imSub" />
        <div id="logout">
            {{user.first_name}}<br/>
            {{user.last_name}}
            <form  method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                         <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}

            </form>
        </div>

    {%else%}
        <a href ='/login/' id="register">

            <img src="{%static 'img/enter.gif' %}" id="ent_img" alt="Вход"/><br/>
        </a>
    {%endif%}

    <ul>
        {% for l in lang %}
            <li data-index="{{l.code}}" {%ifequal l.code globLang %} class="active" {%endifequal%}>
                        <img src="{{STATIC_PREFIX}}img/{{l.img}}" class='lang_img' alt="{{l.img}}"/>
            </li>
        {% endfor %}
    </ul>

</header>

<div id='wrap'>   {% block content%} {%endblock%} </div>

<footer>По вопросам сайта, или не сайта, ну или не вопросам, писать <a href="https://vk.com/mr_data">сюда</a>
                <div class="a"></div>
                <div class="b"></div>
                <div class="c"></div>
                <div class="d"></div>
</footer>
</body>
    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter43292909 = new Ya.Metrika({ id:43292909, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/43292909" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <script src="{% static 'js/jquery_1_9_2.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {%block script%} {%endblock%}

</html>