{% extends "apka/base.html" %}
{% load static %}
{%block link%}
    <link rel="stylesheet" href="{% static 'css/booklet.css' %}">
    <link rel="stylesheet" href="{% static 'css/tests/star.css' %}">
    {%block link2%}{%endblock%}
{%endblock%}


{% block back%} <a href="/" id="back"><img src="{%static 'img/back.gif'%}" alt="Назад"></a>{%endblock%}


{% block content%}

<nav>
    <a  href="/show{{num}}" data-href="show">{{linkPanel.t1}}</a>
    <a href="/download{{num}}" data-href="download">{{linkPanel.t2}}</a>
    <a href="/error-list" data-href="error-list">{{linkPanel.t4}}</a>
    <a href="/save" data-href="save">{{linkPanel.t5}}</a>
</nav>

<img id="toTop" src="{%static 'img/toUp.gif' %}" alt="Наверх">
    {%block book%}{%endblock%}

{%endblock%}
       {%block script%}
                <script src="{% static 'js/booklet.js' %}"></script>
                <script src="{% static 'js/tests/star.js' %}"></script>
        {%block script2%} {%endblock%}
        {%endblock%}


