{% extends "apka\base.html" %}
{% load static %}
{%block link%}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{%endblock%}

{% block title%}Лицензионный экзамен КРОК{% endblock%}



{% block content%}
<section>
      <nav>
        <ul>
            {%for l in li%}
                <li><a href="krok/{{l.id}}">{{ l.title }}</a></li>
            {%endfor%}
        </ul>
    </nav>

      <div><span>Система ліцензійних інтегрованих іспитів є комплексом засобів стандартизованої діагностики рівня професійної
          компетентності, що є складовою частиною державної атестації студентів, які навчаються за спеціальностями напрямів
          підготовки "Медицина" і "Фармація", та лікарів (провізорів), які проходять первинну спеціалізацію (інтернатуру), у
          вищих закладах освіти незалежно від їх підпорядкування. Ліцензійний інтегрований іспит включає один, два або три
          окремі тестові екзамени у відповідності до вимог підготовки фахівців за освітньо-кваліфікаційними рівнями. Зміст
          тестових екзаменів ліцензійного інтегрованого іспиту затверджується щорічно Міністерством охорони здоров'я України
          і повинен відповідати освітньо-професійним програмам, які затверджуються Міністерством освіти України.<span></div>

  </section>
{%endblock%}





















