{% extends "apka/booklet.html" %}
{% load static %}
{%block link2%}
    <link rel="stylesheet" href="{% static 'css/tests/show.css' %}">
{%endblock%}
{%block title%}{{user.first_name }} {{user.last_name}} | Сохраненные вопросы{%endblock%}
{%block book%}
<section id="content2">
{% if user.is_authenticated%}
<ul style="list-style-type:decimal;">
   {%for m in tests%}
    <li>
        <img class="close" src="{%static 'img/close.gif'%}" data-l='sav' data-index="{{m.id}}" alt="Удалить из списка" title="Удалить из списка"/>
        {% autoescape off %}
            <span>{{m.title}}</span>
        {% endautoescape %}
        <ul style="list-style-type:upper-alpha;">
            {%for i in m.m %}
                <li class="{{i.c}}">
                    {% autoescape off  %}
                        <span>{{i.r}}</span>
                    {% endautoescape %}
                </li>
            {%endfor%}
        </ul>
        <div class="line"></div>
        <br/>
    </li>
    {%empty%}
     {% autoescape off  %}
        {{content.save_1}}
    {% endautoescape %}
    {%endfor%}

</ul>

    <div class="line"></div>
{% else %}
    {% autoescape off  %}
        {{content.save_2}}
    {% endautoescape %}
{%endif%}
</section>


{%endblock%}


        {%block script2%}
             <script src="{% static 'js/tests/training.js' %}"></script>
             <script src="{% static 'js/error-save.js' %}"></script>
        {%endblock%}