#content2{
    width: 60%;
    margin: 15% 27%;
    background:#EDEEF0 url('../../img/bg.png');
    padding: 3%;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.6);


}
#coun{
    width: 60%;
}

li{
    color: #00B4F0;
}
li span{
    color: #000;
}

#content2 ul{
 font-size: 150%;
 display: block;
 width: 95%;

}
#content2>ul>li{
    margin-bottom: 1%;
    padding:1%;
    text-align:justify;
    box-shadow: 7px 7px 4px -5px rgba(0,0,0,0.5);
     transition: all 1s ease;
        position:relative;
}
#content2>ul>li.actLi{
    box-shadow: 7px 7px 4px -5px rgba(181,221,255,1);
    background-color: rgba(181,221,255,0.25);

}
.chk{
       background:rgba(181,221,255,1) url('../../img/bgPanel5.gif');

}
#content2 ul li ul li.chk:hover{
       background:rgba(181,221,255,1) url('../../img/bgPanel5.gif');

}
#content2 ul li ul{
    margin-left:6%;
    margin-top: 1%;
    width: 94;
    font-size: 90%;
    line-height: 1.5em;


}
#content2 ul li ul li{
   transition: all 0.3s ease;
}
#content2 ul li ul li:hover{
    cursor: pointer;
    background:rgba(181,221,255,0.4);

}
.line{
    margin-top: 0px;
    width: 100%;
    height: 1px;
    overflow: hidden;
}
#content2 h2{
    width: 30%;
    display: block;
    margin: 2% auto;
}

.fa{
    background-color: rgba(255,0,0,0.4);
}
.Tr{
    background-color: rgba(0,160,0,0.4);
}
#er{
    font-size: 140%;
}